/bootcamp-milestone-final/node_modules
/bootcamp-milestone-4
/bootcamp-milestone-3
/bootcamp-milestone-2-backup
/BootCamp_Milestone_1

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/bootcamp-milestone-final/.next/
/out/

# production
/bootcamp-milestone-final/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

