:root {
  /* variables */
  --cg-cyan: rgb(120, 220, 231);
  --cg-orange: rgb(236, 191, 113);
  --cg-beige: rgb(238, 233, 219);
  --cg-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background-color: var(--cg-beige);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-cyan);
  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

/*CSS for Nav*/
.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar a:hover {
  color: var(--cg-orange);
}

/*CSS for index (home) */

.about-text {
  width: 60%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--cg-white);
  padding: 400px, 20px, 20px, 40px;
  font-family: Geneva, Tahoma, sans-serif;
  color: var(--cg-orange);
  text-indent: 20px;
}
/*CSS for Blog*/
.blog {
  width: 60%;
  margin-top: 20px;
  background-color: var(--cg-white);
  padding: 20px, 40px, 20px, 40px;
  color: var(--cg-orange);
  text-indent: 10px;
  font-family: Geneva, Tahoma, sans-serif;
}
.blog h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blog-conent {
  width: 60%;
  margin-top: 20px;
  padding: 20px, 40px, 20px, 40px;
  color: var(--cg-orange);
  text-indent: 10px;
  font-family: Geneva, Tahoma, sans-serif;
}

/*CSS for Portfolio*/
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cg-orange);
  font-family: Geneva, Tahoma, sans-serif;
}
.portfolio h1,
.portfolio h3,
.portfolio p,
.portfolio ul {
  margin: 0;
  padding: 0;
}
.portfolio h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.portfolio ul {
  list-style: none;
}
.project-description {
  text-align: center;
  max-width: 650px;
}
/*CSS for resume*/

.resume {
  width: 60%;
  margin-top: 20px;
  background-color: var(--cg-white);
  padding: 20px, 40px, 20px, 40px;
  color: var(--cg-orange);
  text-indent: 10px;
}

.resume h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resume h3 {
  display: flex;
  justify-content: left;
  font-family: Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}

.resume li {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

/*CSS for Contact*/

.contact {
  color: var(--cg-orange);
  font-family: Geneva, Tahoma, sans-serif;
}
.contact h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-beige);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
